.title_container{
  background: white;
  width: 100%;
  margin: auto;
  text-align: center;
  font-size: 25px;
  color: rgb(83, 79, 79);
}

.calculator-body {
  max-width: 450px;
  margin: auto;
  border: 2px solid #080808;
  border-radius: 20px;
  background-image: linear-gradient(to right, rgb(55, 75, 248) , rgb(166, 194, 247));
  box-shadow: 5px 5px 10px #3a3a3b;
}

.result {
  height: 80px;
  background-image: linear-gradient(to right, rgb(55, 75, 248) , rgb(166, 194, 247));
  width: 100%;
 
}

.result p {
  font-size: 60px;
  margin: 5px;
  color: white;
}

.button {
  display: block;
  background-color: white;
}

button {
  width: 25%;
  height: 60px;
  font-size: 30px;
  color: rgb(83, 79, 79);
  background-color: white;
}
